FLIROneSDKBundle/FLIRONEExampleApplication/*.iml
FLIROneSDKBundle/FLIRONEExampleApplication/.gradle/
FLIROneSDKBundle/FLIRONEExampleApplication/local.properties
FLIROneSDKBundle/FLIRONEExampleApplication/.idea/libraries
FLIROneSDKBundle/FLIRONEExampleApplication/.idea/modules.xml
FLIROneSDKBundle/FLIRONEExampleApplication/.idea/workspace.xml
FLIROneSDKBundle/FLIRONEExampleApplication/.DS_Store
FLIROneSDKBundle/FLIRONEExampleApplication/app/build/

Android/.idea/caches/build_file_checksums.ser

FLIROneSDKBundle/FLIRONEExampleApplication/.idea/workspace.xml

FLIROneSDKBundle/FLIRONEExampleApplication/ServerExample/venv/
